.navbar {
background-color: rgba(255, 255, 255, 0.737);

}
.hero {
background-image: url('/img/hero.jpg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 550px;

}
.sectionparallax {
background-image: url('/img/image5.jpg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;

height: 450px;

}